//- background.pug

//- constants and variables -> this needs to change in _background.scss as well!
- const cuboidFaces = 6;
- const cuboidsX = 1;
- const cuboidsY = 1;
- const cuboidsZ = 1;

- let cF = 0;
- let cX = 0;
- let cY = 0;
- let cZ = 0;

- let particlesPerCube = 10;

//- draw main div
div(id='object_container' class='cuboid_container')
	while cX < cuboidsX
		- cF = 0;
		- cY = 0;
		- cZ = 0;
		while cY < cuboidsY
			- cF = 0;
			- cZ = 0;
			while cZ < cuboidsZ
				- cF = 0;
				div(class='cuboid') 
					while cF < cuboidFaces
						div(class='c cf_'+cF+' cx_'+cX+' cy_'+cY+' cz_'+cZ )= cF
						- cF++;
					- cZ++;
			- cY++;
		- cX++;