// _variables.scss

$color-page-main: hsla(50, 60%, 96%, 1);
$color-page-main-75: hsla(50, 60%, 96%, .75);
$color-page-main-50: hsla(50, 60%, 96%, .5);
$color-page-main-25: hsla(50, 60%, 96%, .25);
$color-page-main-opaque: hsla(50, 60%, 96%, 0);
$color-page-bg: hsla(200, 95%, 8%, 1);
$color-page-bg-75: hsla(200, 95%, 8%, .75);
$color-page-bg-50: hsla(200, 95%, 8%, .5);
$color-page-bg-25: hsla(200, 95%, 8%, .25);

$color-accent-6: hsla(200, 95%, 90%, 1);
$color-accent-1: hsla(200, 95%, 15%, 1);
$color-accent-2: hsla(185, 95%, 33%, 1);
$color-accent-3: hsla(140, 38%, 47%, 1);
$color-accent-4: hsla(40, 80%, 58%, 1);
$color-accent-5: hsla(10, 65%, 58%, 1);

$accents:
	$color-accent-1,
	$color-accent-2,
	$color-accent-3,
	$color-accent-4,
	$color-accent-5,
	$color-accent-6;