/* ####################################################### */
/* Main Rules, set the colors and a bunch of general stuff */
/* ####################################################### */

@use 'fonts';

@use 'variables';

@use 'background';

@use 'animations';

@use "sass:color";

@use 'temp';

@function url-friendly-color($color) {
    @return '%23' + str-slice('#{$color}', 2, -1)
}


*{
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;

	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
	color: variables.$color-page-main;
}

/* scrollbar-design hacking (amazing!) */

*::-webkit-scrollbar {
	width: 7px;
	height: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.45);
}

*::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.05);
}

a {
	color: variables.$color-accent-6;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	outline: 0;

	&:hover, &:active, &:focus {
		color: variables.$color-page-main;
	}
}


*:click{
	text-decoration: none;
}

p {
	margin: 8pt;
	font-size: 12pt;
	line-height: 18pt;
}


/* Link-FX*/
.fancy_link {
	color: variables.$color-accent-6;
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: color 0.12s linear;
	box-shadow:inset 0 -2px 0 0 variables.$color-accent-6;
	z-index: 0;


	&:before, &:after {
		z-index: -1;
		content: "";
		background: variables.$color-accent-6;
		
		position: absolute;
		height: 50%;
		width: 0%;

		transition: width 0.12s linear;
	}
	&:before { left: -3%; bottom: 0; }
	&:after { right: -3%; top: 0; }


	&:hover, &:active, &:focus {
		color: variables.$color-page-bg;
		&:before, &:after {
			width: 106%;
		}
	}

	&.fancy_link--reversed {
		color: variables.$color-page-bg;
		box-shadow:inset 0 -2px 0 0 variables.$color-page-bg;
		
		&:before, &:after {
			content: "";
			background: variables.$color-page-bg;
		}

		&:hover, &:active, &:focus {
			color: variables.$color-accent-6;
		}
	}

}


/* ################### */
/* ################### */
/* Layout and fancy-FX */
/* ################### */
/* ################### */

/* ############### */
/* Site-wide rules */
/* ############### */

.wrapper {
	margin: 0;

	/* logo and menu */

	header {
		margin: 0;
		opacity: 1;
		position: relative;
		width: 100vw;

		.header_logo {
			cursor: pointer;
			margin: 0 auto;
			padding: 15px;
			width: 100px;
			height: 100px;
			position: relative;		
			.logo_wrapper {
				overflow: hidden;
				width: 100%;
				height: 100%;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				.logo {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		.logo_subtext {
			cursor: pointer;
		    top: 100%;
		    position: absolute;
		    width: 200%;
		    left: -50%;
		    transform: translateY(-100%);
		    h3, h4 {
				font-family: monospace;
		    	text-align: center;
		    	letter-spacing: 1pt;
		    	font-weight: normal;
		    }
		    h3 {
				font-size: 1.6em;
		    }
		    h4 {
				font-size: 1.4em;
		    }
		}
		/* header menu */

		nav {
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			max-width: 700px;
			transition: all 0.2s ease-in-out;
			a {
				letter-spacing: 1px;
				font-size: 10pt;
				text-transform: uppercase;
				padding: 10px 15px;
			}
		}
		/* Enter - Button */
		.enter {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 960 560'%3E%3Cdefs/%3E%3Cpath fill='" + url-friendly-color(variables.$color-page-main) + "' d='M480 344L269 132a40 40 0 00-57 0 41 41 0 000 57l237 239c9 9 20 13 31 12 11 1 22-3 31-12l237-239c16-16 16-41 0-57s-41-16-57 0L480 344z'/%3E%3C/svg%3E");
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: center center;
			width: 50px;
			height: 50px;
			border: 1px solid variables.$color-page-main;
			border-radius: 100%;
			display: block;
			position: fixed;
			top: 50vh;
			left: 50vw;
			transform-origin: 0;
			transform: translateX(-50%);
			cursor: pointer;
		}
	}


	/* ##################### */
	/* general section-rules */
	/* ##################### */

	section {
		$lr_padding: 5vw;
		box-shadow:inset 0 0 0 1px darkred;

		width: 100vw - 2 * $lr_padding;
		padding:0 $lr_padding 0;

		position: fixed;
		overflow-y: hidden;

		/* #################### */
		/* Page-specific rules: */
		/* ## Projects-page ### */
		/* #################### */

		&.projects {}

		/* #################### */
		/* Page-specific rules: */
		/* #### About-page #### */
		/* #################### */
		
		&.about{
			.text_wrapper {
				display: flex;
				align-items: center;
				justify-content: center;

				.text {
					width: 800px;
					p {	margin: 0 20px 20px; }
				}
			}


			/* about-sidebar */
			aside {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 5fr 6fr 1fr;
			
				/* about-sidebar -> address */
				.contact_address_wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
					
					.contact_address {
						color: variables.$color-page-bg;
					}
				}

				/* about-sidebar -> contact tiles */
				.contact_tiles_grid {
					display: grid;
					grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
					grid-template-rows: 1fr 2fr 2fr 1fr;
					

					> a {
						> span {
							height: 100%;
							width: 100%;
							display: block;
							background-image: url('../files/logos.svg');
							background-repeat: no-repeat;
							background-size: 400%;
						}

						/* mail */
						&:nth-child(1) {
							grid-column: 2 / span 1; grid-row: 2 / span 1;
							&:hover, &:active, &:focus { background-color: #dd4c3c; }
							> span { background-position-x: 0%; }
						}
						/* phone */
						&:nth-child(2) {
							grid-column: 2 / span 1; grid-row: 3 / span 1;
							&:hover, &:active, &:focus { background-color: #3d559e; }
							> span { background-position-x: calc(100% / 3); }
						}
						/* skype */
						&:nth-child(3) {
							grid-column: 4 / span 1; grid-row: 2 / span 1;
							&:hover, &:active, &:focus { background-color: #1dabe5; }
							> span { background-position-x: calc(200% / 3); }
						}
						/* whatsapp */
						&:nth-child(4) {
							grid-column: 4 / span 1; grid-row: 3 / span 1;
							&:hover, &:active, &:focus { background-color: #20d442; }
							> span { background-position-x: 100%; }
						}
					}
				}

				/* about-sidebar -> imprint-link */
				.imprint {
					justify-self: center;
				}
			}
		}
	}
}

/* ########### */
/* Other stuff */
/* ########### */


/*  impressum-style */

.impressum_div {
	line-height: 20pt;

	p { line-height: 20pt; }

	li {
		list-style: unset;
		margin-top: 8px;
	}

	table, tr {
		border: 1px solid variables.$color-page-main-opaque;
		border-collapse: collapse;
	}

	.first_column {
		width: 250px;
	}

	a {
		display: inline-block;
		text-decoration: underline;
	}

	h1 {
		padding-top: 40px;
		
		&:first-child {
			padding-top: 0;
		}
	}

	h2 {
		padding-top: 15px;
	}
}

/* ################# */
/* Responsive design */
/* ################# */

/* medium screens */
@media all and (min-width:900px) and (max-width:1200px) {
	
}

/* small screens */
@media all and (max-width:900px) {
	header {
		nav {
			max-width: 100%;
		}
	}
}
